<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"> </head>
<body>
<div th:include="layout :: navigationPanel"></div>
<h1>Rejestracja:</h1>
<form th:action="@{/register}" method="POST" th:object="${user}">
  <!--  <div th:if="${#fields.hasErrors('*')}">-->
  <!--    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
  <!--  </div>-->
  <input type="text" th:field="*{name}" placeholder="Imię"/>
  <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  <br><input type="text" th:field="*{surname}" placeholder="Nazwisko"/>
  <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
  <br> <input type="text" th:field="*{login}" placeholder="Login"/>
  <span class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
  <br><input type="password" th:field="*{password}" placeholder="Hasło"/>
  <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  <br><button type="submit">Zarejestruj się</button>
</form>
<div th:include="layout :: footer"></div>
</body>
</html>